// color palette.
$color-principal: #3169ae;
$color-oscuro-1: #1e1e2f;
$color-oscuro-2: #27293d;
$color-oscuro-3: #181528;
$color-claro-1: #ffffff;
$color-secundario-1: #eb454b;
$color-secundario-2: #1d8cf8;
$color-secundario-3: #eb598b;
$color-secundario-4: #ff9f89;

$color-secundario-s: rgb(201, 54, 54);
$color-secundario-a: rgb(122, 211, 49);
$color-secundario-b: rgb(63, 192, 224);
$color-secundario-e: rgb(228, 215, 40);
$color-secundario-c: rgb(149, 56, 192);

$color-validado-ok: rgba(105, 231, 158, 0.5);
$color-validado-no: rgba(220, 53, 69, 0.5);

$color-secundario-edit: #22ff7e;
$color-secundario-delete: #f13232;


// measurements
$margin-bottom-component: 2em;
$height-screen: 90vh;
$sidebar-width: 185px;

// fonts.
$fuente-principal: 'Open Sans Condensed', sans-serif;


// mixins
// -> propiedades para imagen como background.
@mixin background-propierties($size, $position, $width, $height) {
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
    width: $width;
    height: $height;
}

// -> propiedades para usar flexbox.
@mixin flex($jc, $fd, $ai, $fw) {
    display: flex;
    justify-content: $jc;
    flex-direction: $fd;
    align-items: $ai;
    flex-wrap: $fw; 
}

// -> propiedades boton base.
@mixin button($background, $color) {
    background-color: $background;
    color: $color;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    opacity: 1;
    &:hover{
       opacity: 0.8;
    }
}

// -> propiedades para cada box.
@mixin box() {
    background: $color-oscuro-2;
    border-style: none;
    width: 100%;
    border-radius: 1em;
    padding: 1em;
}

// -> propiedades para cada input.
@mixin input(){
  border-style: none;
  padding: 0.5em;
  margin: 0.5em auto;
  &:hover{
    border: 2px solid $color-secundario-3;
  }
}

// -> propiedad para scroll en tabla con head fixed.
@mixin scroll-table($height) {
  // fixed-header en <table>
  table {
    width: 100%;
    table-layout: fixed;
  }

  table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: $height;
  }

  table thead {
    width: 100%;
    color: #fff;
    background: $color-principal;
    
    tr {
      display: block;
      width: 100%;

      th{
        text-align: left;
        font-weight: bold;
        border-bottom: none !important;
        border-top: none !important;
      }
    }                
  }
}

@mixin table-ligasegura(){
padding: 1em;    
@include scroll-table(10em);
      
thead {
  background: $color-oscuro-1;
  color: $color-principal;
          
  th{
    border-bottom: none !important;
    border-top: none !important;
  }
}
}

