@import '../styles-global.scss';

#btn-float{   
    position: relative;  
    z-index: 500;   
    top: 31.9em;
    overflow: hidden;


    .flex{
        @include flex(space-around, row, center, nowrap);
    }
    
    .bfloat{
        width: 3em;
        height: 3em;
    }
}
